{% extends 'base.html.twig' %}

{% block title %} {{product.title}} {% endblock %}

{% block body %}

 <div class="container">
        <a href="{{ path('list_product') }}" class="btn btn-light h-75">Liste des produits</a>

    <div class="card" style="width: 30rem;">
        <img class="card-img-top" src={{ product.image }} alt="Card image cap">
        <div class="card-body">
            <h3 class="pb-3 mb-4 font-italic border-bottom text-border">{{product.title}}</h3>
            <p class="card-text"> {{ product.description|raw }} </p>
            <p class="card-text"> {{ product.price}} </p>

            <a href="" class="btn btn-success h-75">Ajouter au panier</a>
        </div>
        


        
    </div>
 </div>



{% endblock %}
